
.main{
    width: 600px;
    min-height: 480px;
    float: left;
    box-sizing: border-box;
}

.header{
    width: 600px;
    min-height:70px ; 
    float: left;
    background: blue;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.centr{
    width: 600px;
    min-height: 340px;
    float: left;
    
    
}

.nav{
    width: 120px;
    min-height: inherit;
    float: left;
    background: green;
    padding: 10px;
    box-sizing: border-box;
}
.article{
    width: 300px;
    min-height: inherit;
    float: left;
    background: darkgoldenrod;
    margin: 0 15px;
    padding: 10px;
    box-sizing: border-box;

}

.ads{
    width: 150px;
    min-height: inherit;
    float: left;
    background: rebeccapurple;
    padding: 10px;
    box-sizing: border-box;

}

.footer{
    width: 600px;
    min-height: 70px;
    float: left;
    background: palegreen;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;

}

.root{
    background: yellow;
}